
@import url(https://bibliohound.neocities.org/main-layout.css);

h1{
    padding: 10px 0 0 0;
    text-align: center;
}

h2{
    text-align: center;
}

.paper{
    overflow-y: scroll;
    overflow-x: hidden;
}

.grid{
    display: grid;
    gap: 25px;
    grid-template-columns: auto;
}

.story-type-description {
    text-align: center;
    padding: 0 5%;
}

.item{
    width: 100%;
    background-color: white;
    display: flex;
}

.item > img {
    width: 175px;
    height: auto;
}

.caption{
    padding: 0 25px;
}

button{
    margin: 10px 0;
}

@media only screen and (max-width: 412px) {
    .item > img{
        width: 100px;
        height: auto;
    }
}
