@import url(https://bibliohound.neocities.org/main-layout.css);
@import url(https://bibliohound.neocities.org/characters/pages/characters-style.css); 

.icon{
    margin: 7.5vh 0 0 3vw;
    padding: 5vh 0;
}

.icon>img {
    height: 180px;
    width: auto;
}

@media screen and (max-device-width: 812px) {

    .info-grid {
        padding: 0 48px;
} 
    .info-grid > div {
        margin: 15px 0;
} 
    
  hr {
    margin: 5% 0;
  }
  
  .bottom-bar-info {
        margin: -1% 0;
    }
  
    .bottom-bar-info>p {
        padding: 0 20px 0 0;
    }
  
  }