@import url(https://bibliohound.neocities.org/main-layout.css);
@import url(https://bibliohound.neocities.org/characters/pages/characters-style.css); 

@media screen and (max-device-width: 812px) {

    .info-grid {
        padding: 0 48px;
} 
    .info-grid > div {
        margin: 15px 0;
} 
    
  hr {
    margin: 5% 0;
  }
  
  .bottom-bar-info {
        margin: -1% 0;
    }
  
    .bottom-bar-info>p {
        padding: 0 20px 0 0;
    }
  
  }