.image-links {
    flex-direction: column !important;
    row-gap: 25px !important; 
    width: 50% !important;
    margin: 0 25%;
    overflow-y: scroll;
}

.image-links > a {
    max-width: 50%;
    max-height: auto;
    display: inline-block;
}

.image-links > a > img {
    max-width: 100%;
    max-height: auto;
    display: block;
}

@media screen and (max-width: 812px) {
  
.image-links {
    display: flex;
    flex-direction: row;
    gap: 0 10px;
    width: 100%;
}

.image-links > a > img {
    max-width: 75px;
    height: auto;
}
}