.image-links {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    max-height: 550px;
    width: 50%;
    margin: 0 25%;
    overflow-y: scroll;
}

.image-links > a > img{
    max-width: 50%;
    max-height: auto;
}