@import url(https://bibliohound.neocities.org/main-layout.css);
@import url(https://bibliohound.neocities.org/characters/pages/characters-style.css);

.icon {
    margin: 5vh 1vw 0;
}

.info-grid>div {
    margin: 2vh 5vw;
}

.info-grid>div>h4{
    margin: 7vh 0;
}

.info-grid>div>p{
    margin: -7vh 0;
}

@media screen and (max-device-width: 812px) {
    .basic-info {
        margin: -5px 30px;
        padding: 5px 20px;
        width: 67%;
    }

    .info-grid>div {
        margin: 40% -2px;
    }

    .icon>img {
        margin: 10px 35%
    }
}