@import url(https://bibliohound.neocities.org/main-layout.css);
@import url(https://bibliohound.neocities.org/characters/pages/characters-style.css); 

@media screen and (max-device-width: 812px) {

    .info-grid {
        padding: 0 44%;
} 
    .info-grid > div {
        margin: 15px 0;
} 
    
    hr {
        margin: 15% 0;
    }
    
    .bottom-bar-info{
        margin: -12% 0;
    }
}