h1 {
    padding: 3% 0 1%;
}

.grid {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px;
    grid-column-gap: 25px;
    column-gap: 25px;
    padding: 2.5% 5%;
    
}