h1{
    padding: 10px 0 0 0;
}

.grid{
    display: grid;
    gap: 25px;
    grid-template-columns: auto;
}

.item{
    width: 100%;
    background-color: white;
    display: flex;
}

.item > img {
    width: 175px;
    height: auto;
}

.caption{
    padding: 0 25px;
}

button{
    margin: 10px 0;
}

footer{
    margin: 3% 0;
}