@import url(https://bibliohound.neocities.org/main-layout.css);

h1 {
    text-align: center;
}

.grid{
    display: grid;
    gap: 25px;
    grid-template-columns: auto; 
}

.item{
    width: 100%;
    height: auto;
    background-color: white;
}

.item > a > img {
    margin: 0 44%;
    padding: 10px 0 0 0;
}

.item > p {
    padding: 0 25px;
}

@media only screen and (max-width: 412px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .sidebar {
        width: 500px;
        overflow-x: scroll;   
        margin: 0 -31%;
    }
    
    .image-links {
        display: flex;
        flex-direction: row;
        gap: 0 10px;
    }

    .image-links > a > img {
        max-width: 75px;
        height: auto;
    }

    .board{
        max-width: 500px;
    }

    .paper{
        overflow-y: scroll;
    }
}