body{
    background-image: url(images/backgrounds/background.webp);
    background-size: cover;
}

p {
    padding: 0 10px;
}

h1{
    font-family: "Fredericka the Great";
}

h2{
    font-family: "Fredericka the Great";
}

h3{
    font-family: "Fredericka the Great";
}

h4{
    font-family: "Fredericka the Great";
}

h5{
    font-family: "Fredericka the Great";
}

.container{
    display: flex;
}
.sidebar{
    width:30%;
}
.main-content{
    width:70%;
}

.image-links {
    display: flex;
    flex-direction: column;
    margin: 0 25%;
    row-gap: 25px;
    max-height: 550px;
    width: 50%;
    overflow-y: scroll;
}

.image-links > a > img{
    max-width: 50%;
    max-height: auto;
}


.board{ 
    background-image: url(images/backgrounds/corkboard.jpg);
    border-radius: 5px;
    width: 950px;
    height: 550px;
    margin: 0 25px 0 -100px;
}

.paper{
    background-color: cornsilk;
    margin: 0 100px 50px;
    height: 100%;
    display: flex;
    overflow-y: scroll;
}