body{
    background-image: url(images/backgrounds/background.webp);
    background-size: cover;
}

h1{
    font-family: "Fredericka the Great";
}

h2{
    font-family: "Fredericka the Great";
}

h3{
    font-family: "Fredericka the Great";
}

h4{
    font-family: "Fredericka the Great";
}

h5{
    font-family: "Fredericka the Great";
}

hr {
    border: 1.25 lightslategray;
    margin: 1% 0; /* Remove default margin */
    width: 100%; /* Ensure it spans the full width */
}

nav > iframe {
    width: 100%;
    height: 110vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.container{
    display: flex;
    width: 100vw;
}

.sidebar{
    width: 15vw;
}

.board{ 
    background-image: url(images/backgrounds/corkboard.jpg);
    border-radius: 5px;
    width: 83vw;
    height: 100%;
    margin: 0  0 0;
}

.paper{
    background-color: cornsilk;
    margin: 0 50px 50px;
    height: 100%;
    width: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: grid;
}

@media screen and (max-device-width: 812px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    
    .sidebar {
        width: 125%;
        overflow-x: scroll;  
        overflow-y: hidden;
        height: 110px;
        margin: 0 -30% 0;
    }

    .board{
        width: 95vw;
    }

    .paper{
        width: 65%;
        margin: 0 15%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}
