@import url(https://bibliohound.neocities.org/main-layout.css);

p{
    padding: 0 10px;
}

h1{
    text-align: center;
    font-size: 22px;
}

h3{
    text-align: center;
    margin: 3% 0;
}

hr{
    margin: 3% 0;
}

.paper {
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
}

.text{
    width: 50%;
}

.text > p{
    padding: 0 4%;
}

.side-image{
    width: 26.5%;
}

.side-image > img {
    width: 100%;
    height: 100%;
}

.right-sidebar{
    width: 26.5%;
    background-color: #b3987f;
}

.right-sidebar > iframe {
    width: 100%;
    height: 50%;
    padding: 16% 0 0 0;
}


.right-sidebar > img {
    margin: 5% 0 0;
    padding: 0 25%;
}

.right-sidebar > h3 {
    margin: 13% 0 13%;
    padding: 0 20%;
}

.right-sidebar > a {
    padding: 0 25%;
}

footer{
    text-align: center;
    font-size: 14px;
}

@media (max-width: 641px) {

    .text {
        margin: 0 90px;
        overflow-y: scroll;
    }

    .side-image{
        visibility: hidden;
    }

    .left-sidebar{
        visibility: hidden;
    }

    .right-sidebar{
        visibility: hidden;
    }
}
