@import url(https://bibliohound.neocities.org/main-layout.css);

p{
    padding: 0 10px;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
    margin: 3% 0;
    font-size: 1.1em;
}

hr{
    margin: 3% 0;
}

.paper {
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
}

.text{
    width: 60vw;
    overflow-x: hidden;
    overflow-y: auto;
}

.sitemap > p{
    font-family: "Fredericka the Great";
    font-size: 1em;
    margin: 0 0 0 0.75vw;
}

.guestbook {
    text-align: center;
    font-family: "Fredericka the Great";
    font-size: 1.25em;
    margin: 3% 0;
}

.text > p{
    padding: 0 4%;
}

.side-image{
    width: 25vw;
}

.side-image > img {
    width: 100%;
    height: 100%;
}

.right-sidebar{
    width: 20vw;
    background-color: #b3987f;
    display: flex;
    flex-direction: column;
}

.right-sidebar > iframe {
    width: 100%;
    height: 80vw;
    padding: 16% 0 0 0;
}

.buttons > img {
    margin: 1vh 0 0;
    padding: 0 5.5vw;
}

.buttons > a > img {
    margin: 1vh 0 0;
    padding: 0 5.5vw 2vh;
}

.buttons > h3 {
    margin: 1vh 0 1vh;
    padding: 0 2%;
}

.chat-box > iframe{
    height: 81.5vh;
}


footer{
    text-align: center;
    font-size: 14px;
}


@media screen and (max-device-width: 812px) {
    .text {
        margin: 0 25%;
        width: 100%;
        overflow-y: auto;
    }

    .side-image{
        display: none;
    }

    .left-sidebar{
        display: none;
    }

    .right-sidebar{
        display: none;
    }
}
