@import url(https://bibliohound.neocities.org/main-layout.css);

ul {
    list-style-type: none;
    text-align: center;
    margin: 0 0 20px -35px;
}

h1{
    text-align: center;
    font-size: 18px;
}

h2{
    text-align: center;
    font-size: 15px;
}

h3{
    text-align: center;
}

h4 {
    text-align: center;
}

h5 {
    text-align: center;
}

.paper{
    display: flex;
}

.image-bar-left{
    width: 25%;
}

.about-section{
    width: 50%;
    background-color: white;
    padding: 0 2%;
    height: 550px;
    overflow-y: scroll;
}

.stats > p{
    text-align: center;
}

.favorites > p {
    font-size: 14px;
}

.image-bar-right{
    width: 25%;
}

.image-section-blinkies {
    padding: 0 8.5%;
}

.image-section-blinkies > img {
    width: 150px;
    height: 20px;
}

.image-section-buttons {
    padding: 0 25%;
}

.image-section-buttons > img {
    width: 88px;
    height: 36px;
}

.image-section-stamps {
    padding: 0 24%;
}

.image-section-stamps > img {
    width: 99px;
    height: 56px;
}

.image-section-userboxes {
    padding: 0 10%;
}

.image-section-userboxes > img {
    width: 150px;
    height: 30px;
}

@media only screen and (max-device-width: 812px) {
    .image-bar-left{
        display: none;
    }

    .image-bar-right{
        display: none;
    }

    .about-section{
        background-color: cornsilk;
         margin: 0 25% 
    }
}
