@import url(https://bibliohound.neocities.org/main-layout.css);

ul {
    list-style-type: none;
    text-align: center;
    margin: 0 0 20px -35px;
}

h1{
    text-align: center;
    font-size: 18px;
}

h2{
    text-align: center;
    font-size: 15px;
}

h3{
    text-align: center;
}

h4 {
    text-align: center;
}

h5 {
    text-align: center;
}

#paper{
    display: flex;
    align-items: stretch;
}

.image-bar-left,
.image-bar-right{
    width: 25%;
}

.about-section{
    width: 50vw;
    background-color: white;
    padding: 0 2%;
    overflow-y: auto;
    overflow-x: hidden;
}

.stats > p{
    text-align: center;
}

.favorites > p {
    font-size: 14px;
}

.image-section-blinkies {
    padding: 0 12%;
}

.image-section-blinkies > img {
    width: 150px;
    height: 20px;
}

.image-section-buttons {
    padding: 0 29%;
}

.image-section-buttons > img {
    width: 88px;
    height: 36px;
}

.image-section-stamps {
    padding: 0 27%;
}

.image-section-stamps > img {
    width: 99px;
    height: 56px;
}

.image-section-userboxes {
    padding: 0 13%;
}

.image-section-userboxes > img {
    width: 150px;
    height: 30px;
}

@media screen and (max-device-width: 812px) {
    .image-bar-left{
        display: none;
    }

    .image-bar-right{
        display: none;
    }

    .about-section{
        background-color: cornsilk;
         margin: 0 25% 
    }
}
