.paper {
    overflow-y: hidden;
}

.top-bar-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    margin: 10px 25px;
    height: 220px;
    width: 100%;
}

.icon {
    grid-area: 1 / 1 / 2 / 2;
}

.basic-info {
    grid-area: 1 / 2 / 2 / 4;
}

.icon>img {
    transform: rotate(345deg);
    height: 180px;
    width: auto;
    margin: 23px 10px auto;
}

.info-grid {
    background-color: white;
    border-color: black;
    border-style: dashed;
    border-radius: 5px;
    border-width: 3px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 10px -55px auto;
    padding: 5px 0px 0px 60px;
    height: 200px;
    width: 90%;
}

.info-grid>div {
    width: 95%;
}

.info-grid>div>h4 {
    margin: -10px auto auto;
}

.info-grid>div>p {
    margin: auto auto -10px;
}

.info-bar-1 {
    grid-area: 1 / 1 / 3 / 2;
}

.info-bar-2 {
    grid-area: 1 / 2 / 3 / 3;
}

.info-bar-3 {
    grid-area: 1 / 3 / 3 / 4;
}

.info-bar-4 {
    grid-area: 3 / 1 / 5 / 2;
}

.info-bar-5 {
    grid-area: 3 / 2 / 5 / 3;
}

.info-bar-6 {
    grid-area: 3 / 3 / 5 / 4;
}

.bottom-bar-info {
    background-color: white;
    height: 290px;
    width: 94.5%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px 20px;
}

@media only screen and (max-width: 320px) {

    .top-bar-info {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin: 10px 25px;
    }

    .icon {
        grid-area: 1 / 1 / 2 / 2;
    }

    .basic-info {
        grid-area: 2 / 1 / 3 / 2;
    }

    .icon>img {
        width: 40vw;
        height: auto;
        margin: 10px 40%
    }

    .basic-info {
        margin: 0 33%;
        width: 145%;
    }

    .info-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 5px;
        width: 115%;
        height: 25%;
        overflow-y: scroll;
    }

    .info-bar-1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .info-bar-2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .info-bar-3 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .info-bar-4 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .info-bar-5 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .info-bar-6 {
        grid-area: 3 / 2 / 4 / 3;
    }

    hr {
        margin: 30% 0;
    }

    .bottom-bar-info {
        margin: -25% 0;
        width: 90%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

}