@import url(https://bibliohound.neocities.org/main-layout.css);

.link-box > hr {
    border: dashed lightslategray;;
}

h1{
    text-align: center;
    margin: 0 0 20px 0;
    padding: 20px 0 0 0;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

footer  > p {
    text-align: center;
    padding: 1% 0 2.5% 0;
}

.description > p {
    padding: 0 5%;
}

.link-box > p {
    padding: 0 5%;
}


    