
@import url(https://bibliohound.neocities.org/main-layout.css);

h1{
    text-align: center;
    font-size: 25px;
    padding: 10px 0 0 0;
}

h2{
    text-align: center;
    font-size: 15px;
    font-family: "Fredericka the Great";
}

.description{
    text-align: center;
}

.description > p {
    font-size: 15px;
    padding: 0 10px;
}

.grid{
    display: grid;
    grid-template-columns: auto auto;
    justify-items: end;
    justify-content: center;
    gap: 10px 10px;
}

.item{
    width: 300px;
    height: 125px;
    background-color: white;
    display: flex;
}

.item > img {
    width: 100px;
    height: auto;
}

.caption {
    margin: 5px 55px;
    text-align: center;
}

@media only screen and (max-width: 812px) {
    .grid {
        grid-template-columns: auto;
        gap: 10px 0;
    }
}
