
@import url(https://bibliohound.neocities.org/main-layout.css);

h1{
    text-align: center;
    font-size: 25px;
    padding: 10px 0 0 0;
}

h2{
    text-align: center;
    font-size: 15px;
}

hr {
    border: 0;
    height: 1px;
    background-color: gray; /* Adjust color as needed */
    margin: 1% 0; /* Remove default margin */
    width: 100%; /* Ensure it spans the full width */
}

.paper{
    display: grid;
    overflow-y: scroll;
}

.description{
    text-align: center;
}

.description > p {
    font-size: 15px;
    padding: 0 10px;
}

.grid{
    display: grid;
    grid-template-columns: auto auto;
    justify-items: end;
    justify-content: center;
    gap: 10px 10px;
}

.item{
    width: 300px;
    background-color: white;
    display: flex;
}

.item > img {
    width: 100px;
    height: auto;
}

.caption {
    margin: 10px 50px;
}

@media only screen and (max-width: 412px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .sidebar {
        width: 500px;
        overflow-x: scroll;   
        margin: 0 -31%;
    }
    
    .image-links {
        display: flex;
        flex-direction: row;
        gap: 0 10px;
    }

    .image-links > a > img {
        max-width: 75px;
        height: auto;
    }

    .board{
        max-width: 500px;
    }

    .paper{
        overflow-y: scroll;
    }

    .grid {
        grid-template-columns: auto;
        gap: 10px 0;
    }
}
