
body{
    background-image: url(https://bibliohound.neocities.org/images/backgrounds/background.webp);
    background-size: cover;
}

h1{
    text-align: center;
    font-size: 25px;
    font-family: "Fredericka the Great";
}

h2{
    text-align: center;
    font-family: "Fredericka the Great";
}

h3{
    text-align: center;
    font-family: "Fredericka the Great";
}


h4{
    text-align: center;
    font-family: "Fredericka the Great";
}

h5{
    text-align: center;
    font-family: "Fredericka the Great";
}


.container{
    display: flex;
}
.sidebar{
    width:30%;
}
.main-content{
    width:70%;
}

.image-links {
    display: flex;
    flex-direction: column;
    margin: 0 25%;
    row-gap: 25px;
    max-height: 550px;
    overflow-y: scroll;
}

.image-links > a > img{
    max-width: 50%;
    max-height: auto;
}

.board{ 
    background-image: url(https://bibliohound.neocities.org/images/backgrounds/corkboard.jpg);
    border-radius: 5px;
    width: 950px;
    height: 550px;
    margin: 0 25px 0 -100px;
}

.paper{
    background-color: cornsilk;
    margin: 0 100px 50px;
    height: 100%;
    display: flex;
}

.text {
    width: 60%;
    overflow-y: scroll;
    height: 550px;
}

.text > main > p{
    padding: 0 4%;
}

.side-image{ 
    width: 40%;
}

.side-image > img{
    max-width: 100%;
    height: 100%;
}

.grid {
    display: grid;
    grid-auto-columns: auto;
    gap: 10px;
    padding: 0 10px;
}

.character  {
    display: flex;
    width: 100%;
    height: 145px;
}

.image {
    width: 30%;
    height: auto;
}

.image > img {
    width: 100%;
    height: auto;
}


.caption{
    padding: 10px;
    width: 70%;
    height: 100px;
    overflow-y: scroll;
}

.caption > h5 {
    text-align: left;
    margin: -5px 0 -10px 0;
}

ol > li > img {
    width: 25px;
    height: 25px;
    margin: 0 0 -5px 5px;
}

ul {
    list-style: none;
    margin: 0 0 0 -25px;
}

ul > li {
    margin: 0 28%;
    display: flex;
    gap: 5px;
}

ul > li > img {
    width: 25px;
    height: 25px;
    margin: -3px 0 0 0;
}