@import url(https://bibliohound.neocities.org/main-layout.css);

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.grid {
    display: grid;
    grid-auto-columns: auto auto auto;
    gap: 10px;
    text-align: center;
    margin: 10px 0;
}

#autiring {
    padding: 0 38%;
}