
body{
    background-image: url(https://bibliohound.neocities.org/images/backgrounds/background.webp);
    background-size: cover;
}

h1{
    text-align: center;
    font-family: "Fredericka the Great";
}

h2{
    text-align: center;
    font-family: "Fredericka the Great";
}

h3{
    text-align: center;
    font-family: "Fredericka the Great";
}

h4 {
    text-align: center;
    font-family: "Fredericka the Great";
}

h5 {
    text-align: center;
    font-family: "Fredericka the Great";
}

p{
    text-align: center;
}

.container{
    display: flex;
}
.sidebar{
    width:30%;
}
.main-content{
    width:70%;
}

.image-links {
    display: flex;
    flex-direction: column;
    margin: 0 25%;
    row-gap: 25px;
    max-height: 550px;
    overflow-y: scroll;
}

.image-links > a > img{
    max-width: 50%;
    max-height: auto;
}

.board{ 
    background-image: url(https://bibliohound.neocities.org/images/backgrounds/corkboard.jpg);
    border-radius: 5px;
    width: 950px;
    height: 550px;
    margin: 0 25px 0 -100px;
}

.paper{
    background-color: cornsilk;
    margin: 0 100px 50px;
    height: 550px;
    overflow-y: scroll;
}

.grid {
    display: grid;
    grid-auto-columns: auto auto auto;
    gap: 10px;
    text-align: center;
    margin: 10px 0;
}

#women-web {
    padding: 0 39%;
}