@import url(https://bibliohound.neocities.org/main-layout.css);

h1{
    padding: 10px 0 0 0;
    text-align: center;
}

.description > p {
    text-align: center;
}

.grid{
    display: grid;
    gap: 25px;
    grid-template-columns: auto;
}

.item{
    width: 100%;
    background-color: white;
    display: flex;
}

.item > img {
    width: 175px;
    height: auto;
}

.caption{
    padding: 0 25px;
}

button{
    margin: 10px 40% 25px;
}

@media only screen and (max-device-width: 812px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .sidebar {
        width: 500px;
        overflow-x: scroll;   
        margin: 0 -31%;
    }
    
    .image-links {
        display: flex;
        flex-direction: row;
        gap: 0 10px;
    }

    .image-links > a > img {
        max-width: 75px;
        height: auto;
    }

    #board{
        max-width: 500px;
    }

    #paper{
        overflow-y: auto;
    }

    .item > img{
        width: 100px;
        height: auto;
    }
}