h1{
    font-size: 1.75em;
    margin: 2% 3%;
}

h2 {
    font-size: 1.25em;
    margin: 5vh 1.5vw 0;
}

h3 {
    font-size: 1em;
}

.paper {
    display: flex;
    overflow-y: hidden;
}

.side-image{ 
    width: 30vw;
}

.side-image > img{
    max-width: 100%;
    height: 100%;
}

.text {
    width: 70vw;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
}

.text > main > p{
    padding: 0 2vw;
}

.grid {
    display: grid;
    grid-auto-columns: auto;
    gap: 0 10px;
    padding: 0 1em;
}

.character  {
    display: flex;
    width: 100%;
    height: 145px;
    margin: 3% 0;
}

.image {
    width: 10em;
}

.image > img {
    width: 100%;
    height: auto;
}

.caption{
    padding: 10px;
    width: 70%;
    margin: 1% 1%;
    padding: 2%;
    overflow-y: auto;
}

.caption > h5 {
    text-align: left;
    margin: -4% 0;
}

@media screen and (max-device-width: 812px) {
    .side-image{
        display: none;
    }

    .text{
        margin: 0 25%;
    }

    .character{
        flex-direction: column;
        margin: 10px 0;
        height: 100%; 
    }

    .image {
        width: 100%;
    }
    
    .image > img {
        width: 100%;
        height: auto;
    }

}